<a href="#" class="foxy-wrapper-menu-button">
    <div class="foxy-wrapper-menu-button-bar"></div>
    <div class="foxy-wrapper-menu-button-bar"></div>
    <div class="foxy-wrapper-menu-button-bar"></div>
</a><!-- .foxy-wrapper-menu-button -->