<div class="foxy-comments-title">
    <hr>
    <div>Comments</div>
</div><!-- .foxy-comments-title -->
<div class="foxy-comments">
    <div class="fb-comments" data-numposts="5" data-colorscheme="dark" data-width="100%"></div>
</div><!-- .foxy-comments -->