<nav class="foxy-navigation" role="navigation">
    <ul>
        {{#foreach navigation}}
            <li class="foxy-navigation-{{slug}}{{#if current}} foxy-navigation-current{{/if}}" role="presentation">
                <a href="{{url}}">{{label}}</a>
            </li><!-- .nav-* -->
        {{/foreach}}
    </ul>
</nav><!-- .navigation -->