@import "variables"
@import "mixins"

*
  vertical-align: baseline
  box-sizing: border-box
  padding: 0
  margin: 0

html, body
  line-height: $line-height
  font-size: 100%
  height: 100%
  width: 100%

body
  background-color: $background
  @include image($texture)
  font-family: $font
  position: relative
  color: $text
  margin: 0

h1, h2, h3, h4, h5, h6
  font-family: $headings-font
  font-weight: normal

h1
  line-height: $line-height * 2

.clear-fix
  *zoom: 1
  &:before,
  &:after
    display: table
    content: ""
    line-height: 0
  &:after
    clear: both