@import "variables"
@import "mixins"
@import "compass"

*
  box-sizing: border-box
  vertical-align: top
  position: relative
  padding: 0
  margin: 0

html, body
  font-size: $cell * 0.7
  line-height: $cell
  overflow: hidden
  height: 100%
  width: 100%

body
  background-color: $bg-light
  font-family: $font-family
  color: $brand-white
  perspective: 100vh
  position: relative
  margin: 0

a
  text-decoration: none

h1, h2, h3, h4, h5, h6
  font-family: $headings-font
  text-transform: uppercase
  font-size: $cell * 0.8
  font-weight: bold

.hidden
  display: none !important

.clear-fix
  clear: both
  *zoom: 1
  &:before,
  &:after
    display: table
    content: ""
    line-height: 0
  &:after
    clear: both