@import "variables"
@import "mixins"

*
  box-sizing: border-box
  padding: 0
  margin: 0

html
  height: 100%
  width: 100%

body
  background-color: $background
  @include image($texture)
  position: relative
  height: 100%
  color: $text
  width: 100%
  margin: 0