@import "variables"
@import "mixins"
@import "compass"

.foxy-grid
  &-filter
    font-weight: 600
  &-sizer
    position: absolute
  &-item
    text-decoration: none
    padding: $cell / 2
    &.tag-projects &-inside
      &:before
        background-color: $brand-red
    &.tag-blog &-inside
      &:before
        background-color: $brand-blue
    &-inside
      overflow: hidden
      padding: 0
      &:before
        @include transform(rotate(45deg))
        right: -$cell * 1.25
        position: absolute
        top: -$cell * 1.25
        height: $cell * 2
        width: $cell * 2
        display: block
        content: ''
    &-title, &-excerpt, &-info
      margin: $cell
    &-excerpt
      text-align: justify


@media #{$handheld-portrait}
  // Handheld Portrait
  .foxy-grid
    &-sizer, &-item-wrapper
      width: 100%
    &-item-wrapper
      &.wide
        width: 100%
      &.very-wide
        width: 100%
@media #{$handheld-landscape}
  // Handheld Landscape
  .foxy-grid
    &-sizer, &-item-wrapper
      width: 50%
    &-item-wrapper
      &.wide
        width: 100%
      &.very-wide
        width: 100%
@media #{$tablet-portrait}
  // Tablet Portrait
  .foxy-grid
    &-sizer, &-item-wrapper
      width: 100% * 1/3
    &-item-wrapper
      &.wide
        width: 100% * 2/3
      &.very-wide
        width: 100% * 3/3
@media #{$default}
  // Default
  .foxy-grid
    &-sizer, &-item-wrapper
      width: 25%
    &-item-wrapper
      &.wide
        width: 50%
      &.very-wide
        width: 75%
@media #{$large}
  // Large
  .foxy-grid
    &-sizer, &-item-wrapper
      width: 20%
    &-item-wrapper
      &.wide
        width: 40%
      &.very-wide
        width: 60%