@import "variables"
@import "mixins"

.foxy-item
  margin-bottom: $index-item-margin-bottom !important
  //background-color: $index-item-background
  border: $index-item-border
  color: $index-item-text
  text-decoration: none
  &-inside
    padding: $index-item-padding
    overflow: hidden
    & > *
      margin: $index-item-element-margin
  &-excerpt
    text-align: $index-item-excerpt-align
  &-date
    display: block