@import "variables"
@import "mixins"
@import "compass"

.foxy-item
  margin-bottom: $index-item-margin-bottom !important
  background-color: $index-item-background
  border: $index-item-border
  color: $index-item-text
  text-decoration: none
  @include clearfix()
  &-inside
    padding: $index-item-padding
    overflow: hidden
  &-title, &-excerpt, &-info
    margin: $index-item-element-margin
  &-excerpt
    text-align: $index-item-excerpt-align
  &-info
    time
      float: left
    span
      float: right