@import "variables"
@import "mixins"

.foxy-item
  background-color: $index-item-background
  margin-bottom: $index-item-margin-bottom
  padding: $index-item-padding
  border: $index-item-border
  color: $index-item-text
  text-decoration: none
