@import "variables"
@import "mixins"
@import "compass"

.dev-grid
  background-image: url('#{$img-path}grid-horizontal.png')
  position: absolute
  z-index: 999
  height: 100%
  width: 100%
  left: 0
  top: 0

.foxy-navigation
  @include transition(all 400ms ease-in-out)
  @include transform(translateX(-100%))
  border-right: solid 5px $brand-blue
  background-color: $bg-light
  position: absolute
  display: block
  z-index: 9999
  height: 100%
  left: 0
  top: 0
  &.visible
    @include transform(translateX(0))
  &-overlay
    position: absolute
    display: block
    z-index: 9998
    height: 100%
    width: 100%
    left: 0
    top: 0
  ul
    padding: $cell / 2
    li
      padding: $cell / 2
      a
        @include transition(all 200ms ease-in-out)
        padding: $cell $cell * 2 !important
        font-size: $cell * 0.55 !important
        @extend .foxy-btn-inverted

.foxy-wrapper
  background-color: $bg-dark
  color: $brand-white
  position: absolute
  overflow-y: scroll
  height: 100%
  width: 100%
  left: 0
  top: 0
  &-menu
    position: absolute
    padding: $cell
    left: 0
    top: 0
    &-button
      background-color: $brand-blue
      text-align: center
      height: $cell * 3
      width: $cell * 3
      display: block
      padding: $cell
      &-bar
        $bar-size: round($cell / 6)
        background-color: $bg-dark
        margin: $bar-size 0
        height: $bar-size
        &:first-child
          margin-top: $bar-size / 2
        &:last-child
          margin-bottom: $bar-size / 2
  &-inside
    overflow-y: visible
    overflow-x: hidden
    min-height: 100%

